@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:wght@100;200;800&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  background-color: #1b1b1b;
}

.cursor {
  background-color: palevioletred;
  border: 1px solid purple;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 1;
  pointer-events: none;
  transition: all 0.3 ease;
}

.cursor-scale {
  width: 120px;
  height: 120px;
  transition: all 0.3 ease;
}

.cursor-nav {
  background-color: transparent;
  border: 2px solid purple;
  border-radius: 0px;
  width: 100px;
  height: 100px;
  transition: 0.3 ease;
}

.el {
  color: #ffffff;
}

.open-nav {
  font-size: 30px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 48px;
  color: palevioletred;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 156px;
  right: 50%;
  font-size: 36px;
}

.el-nav:hover {
  transition: 0.3 ease-in-out;
  color: #ffffff;
}

.nav {
  color: #ffffff;
  font-weight: bold;
  z-index: 9999;
  padding-top: 40px;
}

a h6 {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

.nav h6 {
  padding-top: 0.8em;
  padding-left: 0.6em;
  font-weight: bold;
}

.nav span {
  padding-right: 16px;
}

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
}

#home h5 {
  border-bottom: 1px solid #ffffff;
  font-size: 16px;
  padding-bottom: 8px;
}

.welcome {
  position: absolute;
  top: 30%;
  font-size: 64px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 0px;
}

h3.welcome {
  padding-top: 32px;
}

.arrow-position {
  position: absolute;
  bottom: 20%;
  right: 40px;
}

.arrow {
  animation-name: animation;
  animation-duration: 4s;
  animation-iteration-count: 10;
}

@keyframes animation {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

h2 {
  color: #ffffff;
  font-weight: bold;
}

h3 {
  color: palevioletred;
  font-weight: bold;
  padding-top: 1em;
}

#about h3 {
  padding-top: 0;
}

#about div {
  padding-top: 3em;
  color: #ffffff;
  margin-bottom: 40px;
}

#about img {
  max-width: 400px;
  z-index: 0.5;
}

button {
  font-size: 16px;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 70px;
  color: #ffffff;
  background-color: palevioletred;
  border: solid 3px palevioletred;
}

button a {
  color: #ffffff;
  text-decoration: none;
}

button:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

button a:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
}

/* Skills - SECTION */

#skills h2 {
  color: #1b1b1b;
  padding-top: 40px;
}

#skills {
  padding: 2em;
  background-color: #ffffff;
}

.logo {
  max-width: 100px;
  height: auto;
  padding: 1em;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.logo-figma {
  max-height: 70px;
  width: auto;
}

.logo-figma:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.skills_logo_icons {
  padding: 1em;
}

/* Projects - SECTION */

#projects h2 {
  padding: 1.5em;
  padding-bottom: 0px;
  color: palevioletred;
}

#projects h3 {
  padding-bottom: 1em;
  padding-top: 0px;
  color: #ffffff;
  width: max-content;
  margin: 0px auto;
}

.margin-top-20 {
  margin-top: 20px;
}

#projects button {
  font-size: 16px;
  font-weight: bold;
  padding: 0.6em;
  border-radius: 70px;
  color: #ffffff;
  background-color: #2e2a2a;
  border: solid 3px palevioletred;
}

#projects button a {
  color: #ffffff;
  text-decoration: none;
}

#projects button:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

#projects button a:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
}

#projects img {
  max-width: 500px;
  height: 380px;
}

.projects-horizontal {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-arrow-color: blueviolet;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects-horizontal::-webkit-scrollbar {
  display: none;
}

.project {
  padding: 1em;
  padding-right: 3em;
  border-right: 1px solid #2e2a2a;
  margin: 40px;
  margin-left: 0px;
}

.project:last-child {
  border-right: 0px;
}

.project:first-child {
  padding-left: 3em;
}

/* Contact - SECTION*/

#contact {
  background-image: url(Images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
}

.big_btn {
  font-size: 24px;
  font-weight: bold;
  padding: 0.2em;
  margin-top: 4.5em;
  color: #ffffff;
  background-color: #595959;
  border-radius: 70px;
  border: solid 5px #595959;
}

.big_btn {
  font-size: 24px;
  font-weight: bold;
  padding: 0.6em;
  border-radius: 70px;
  color: #ffffff;
  background-color: palevioletred;
  border: solid 3px palevioletred;
}

.big_btn a {
  color: #ffffff;
  text-decoration: none;
}

.big_btn:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.big_btn a:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
}

/* Footer - SECTION*/

footer {
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 2em;
}

footer h6 {
  color: palevioletred;
  font-weight: bold;
}

p a {
  color: #ffffff;
  font-weight: bold;
}

p a:hover {
  color: palevioletred;
  text-decoration: none;
}

footer i {
  color: white;
}

a i:hover {
  color: palevioletred;
  transform: scale(1.3);
}

@media (max-width: 575.98px) {
  #about div {
    padding-top: 1em;
  }

  #about img {
    max-width: 100%;
  }

  .nav {
    left: 0;
    right: 0;
    margin: 0px;
  }

  #home {
    height: 100vh;
  }

  .welcome {
    top: 30%;
    font-size: 57px;
  }

  .arrow {
    width: 57px;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .project:last-child {
    border-right: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 767.98px) {
  #projects img {
    width: 240px;
    height: auto;
  }
}
